page-accessories {
//ion-card{min-height: 92px; vertical-align:middle;}
  page-custom-card span{color:#3a3a3a !important;text-align: center;display: table-cell;vertical-align: middle;
    font-size: 1rem !important;
    line-height: 13px !important;width: 100%;
    padding: 23px 7px 11px 7px;
  }
}
