// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.Ae_logo{width: 45px;}
.headerIconSize{    font-size: 2.6rem;}
.bannerLandingPage{ width: 100%; display: -webkit-box;}
.greyBorderTopMin{border-top: 1px solid #e9eaeb;}
.greyBorderTop{border-top: 10px solid #f1f2f8;}
.greyBorderBottom{border-bottom: 10px solid #f1f2f8;}
.whiteBackground{ background: #fff;}
.bxShadow{    margin-bottom: 4px;    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);  }
.icon-img-slide{width: 30px !important;  height: 30px !important; margin: auto;}
.thumb-img {
  padding: 0;
}
.slideicon_para{font-size: 10px;font-weight: 400;color: #7a7a7a;margin-top: 0;    line-height: 11px;}
.alignH6{    line-height: 1;  font-weight: 400;    font-size: 1.6rem;padding: 0px 24px 0px 24px;}
.product_width{   width: auto !important;  height: 130px !important;  margin: auto;    margin-top: 7px;}
.productHeading{    text-align: left;  font-size: 1.5rem !important;overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;    padding: 0 4px;  }
.card_custom{position: relative;margin: 0px 5px 10px 10px;  border-radius: 5px;  width: calc(100% - 11px);border: 1px solid #999999;}
.rupeesFontSize{font-size: 1.2rem !important;}
.oldPriceColor{color: $rupeeGrey !important; text-align: left; height: 2.1em;    margin: 0.4rem 0.2rem;    padding: 8px 3px;line-height: 2.4rem;}
.newPriceColor{color:#000;    height: 2.1em; text-align: left; margin: 0.4rem 0.2rem;    padding: 3px;line-height: 2.4rem;}
.product-badge{padding: 0px 0px 3px 3px;text-align: right;}
.ion-item-price .item-inner{padding-right: 0 !important;}
.discount{color: $rupeeGrey !important; border: 1px solid $rupeeGrey;    font-size: 1.1rem !important;  padding: 1px;    line-height: inherit;}
.font1-2{  padding-top: 4px;}
.font1-2 p{font-size: 10px !important;    font-weight: lighter;}
.font1-2.alignpadding{padding-top: 9px;}
.font1-2.alignpadding p{font-size: 10px !important;    font-weight: lighter;  }
.yellowStar{color:#e4c817;}
.box-flex{display:-webkit-inline-box;}
.successBadge{    padding: 3px 2px;
  font-size: 10px;
  background: #2fb70d;
  border-radius: 0;
  margin: 2px 0; }
.p3{padding: 3px;}
.strike{text-decoration: line-through;}
.blueColor{ color: $blueDefaul;}
.no-padding-top{padding-top: 0;}
//footer
.defaultColor{color:#666666;}
.activeColor{color: $blueDefaul;}
.sidebar_icon_width{ width: 28px !important;  height: 28px !important;}
.textSize{    font-size: 13px;}
//productList
.productlistIcon{ width: 22px;}
.prodfilterBtn .text{ color: #6b6b6b ;text-indent: 8px;  font-size: 16px;  }
.footerBtn{margin-bottom: 0;margin-top: 0;}
//brands
.titleSize{ color: #000; font-size: 2rem;}
hr{background-color: #bababa;}

.parent{padding: 5% 0 !important;}
.parent .outer p{padding: 10% 0 !important; text-align: center;}

//Product Description
.productDescription_ul{
  padding: 0;
  h4,h6{margin-bottom: 0;margin-top: 0 !important;}
  h4{color:#000;}
  h4.prodTitle{font-size: 1.7rem;}
  h6{color:$rupeeGrey;}
  li{ list-style: none; margin-bottom: 3px;}
  li ion-badge{margin: 0;}
}
button{ outline: none;}
.p10{padding: 6px 5px;margin: 6px 0;}
.blueDefaulText{color:$blueDefaulText; text-decoration: none;}
.greyTxt{color:$rupeeGrey;}
.borderRight{border-right: 1px solid #737373;}
.prodHighlights{
  padding: 0 17px;
  li{    font-size: 1.3rem;  line-height: 17px;color: $rupeeGrey;}
}

//cart
.cartPage{
  .cartImage{height: 70px !important;width: auto;}
  ul{padding: 0;margin: 0;}
  ul li{list-style: none; margin-bottom: 9px;  }
  ul li:last-child{margin-bottom: 0;}
  .product-price {
    font-size: 15px;
    line-height: 15px;
    color: #000;
    white-space: nowrap;
    font-weight: 500;
  }
  .product-discountedPrice {
    font-size: 15px;
    font-weight: 500;
    color: #000;
  }
  .product-strike {
    text-decoration: line-through;
    color: $rupeeGrey;
    font-weight: 400;
    margin-left: 5px;
    font-size: 14px;
  }
  .product-discountPercentage {
    color: $offerGreen;
    font-weight: 400;
    font-size: 11px;
    margin-left: 5px;
  }
   ion-icon{color:#7f7f7f}
  .text{    color: #7f7f7f;
    text-indent: 8px;
    font-size: 20px;}
  .text-danger{color: #ea4c49;font-size: 2.1rem;}
  .borderTopBtn{border-top: 1px solid #f5f5f5;  margin: 0;}
}
.rowAllinement{padding: 0 16px;}
.colInnerPadding{padding: 10px 5px;margin: 0 !important;}
.vertical_h4{    padding-top: 16px;}
//login Page
.AE_logoLoginpage{width: 200px;}
.showPassword{position: absolute;
  display: inline-block;
  bottom: 0;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: $blueDefaulText;right: 0;}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
  color: #939498;
}
ion-item.item-md.item-input.input-has-focus .item-inner,
ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: $blueDefaulText;
  box-shadow: none;
}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: $blueDefaulText;
  -webkit-box-shadow: inset 0 -1px 0 0 $blueDefaulText;
  box-shadow: 1px 2px 3px transparent !important;
  box-shadow: inset 0 -1px 0 0 rgba(50, 219, 100, 0);
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: $blueDefaulText;
  -webkit-box-shadow: inset 0 -1px 0 0 $blueDefaulText;
  box-shadow: 1px 2px 3px transparent !important;
  box-shadow: inset 0 -1px 0 0 rgba(50, 219, 100, 0);
}
/* Workaround to hide window phone default validation colors */
ion-item.item-wp.item-input.input-has-focus .text-input,
ion-item.item-wp.item-input.ng-valid.input-has-value:not(.input-has-focus) .text-input,
ion-item.item-wp.item-input.ng-invalid.ng-touched:not(.input-has-focus) .text-input {
  border: 2px solid #ffffff;
}
.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
  border-bottom-color: $blueDefaulText;
  -webkit-box-shadow: inset 0 -1px 0 0 $blueDefaulText;
  box-shadow: 1px 2px 3px transparent !important;
  box-shadow: inset 0 -1px 0 0 $blueDefaulText;
}
.item.input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{color: $blueDefaulText;}

.blueButtonLogin{background: $blueButton;}
.auto{margin: auto;}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
  color: #727272;font-size: 16px;
}
.lightBlueButton{background: $lightBlueButton;}
.footerFixed{left: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;    padding: 0 10px;}
//delivery
.delivery{
  padding: 5px 0;
  .delivery_adddress{padding: 0;}
  .delivery_adddress li{list-style: none;}
  .delivery_adddress li h6{margin: 0;padding: 0;  font-size: 1.4rem;}
  .delivery_adddress li h6{color: #000;}
  .delivery_adddress li h6 span{color: #217dbd;}
  .blueColor{color:#217dbd;}
  .borderTop{    border-top: 1px solid #dedede;}
  .borderRight{border-right: 1px solid #dedede;}
  .small_xs{    margin: 0;  font-size: 1.4rem;}
  .greenText{color:$offerGreen;}
  .checkout ion-item-divider, .checkout ion-item{padding: 0 16px;font-size: 1.4rem;}
  .checkout ion-item-divider ion-label, .checkout ion-item ion-label{margin: 0;}
  .checkout .item-md [item-end]{margin: 0px 8px 0px 0;}
}
.marginBtm{    margin-bottom: 10px !important;  }