page-custom-card {
  //.parent{display: table;width: 100%;}
  .parent{ height: 92px;
    vertical-align: middle;width: 100%;
    display: table-cell;}
  //.parent .outer p{  display: table-cell;width: 100% !important;
  //  vertical-align: middle;}
}


