page-product-description {
  ion-slide.swiper-slide {
    left: 0;
  }

  .slide-zoom {
    background: #fff;
  }

  .thumb-img {
    padding: 0;
  }
  .slider-image-height{    height: 225px;}
  .scroll-content {  margin-bottom: 65px;}

}
